<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/Layout :: header"></header>

	<div class="container-fluid" style="margin-top: 60px">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<strong><span th:text="${tituloForm}"></span></strong>
				</h3>
			</div>
			<div class="panel-body">
				<form th:object="${cargo}" th:action="@{/cargos}" method="post">

					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div th:each="erro : ${#fields.detailedErrors()}">
							<span th:text="${erro.message}">mensagem</span>
						</div>
					</div>

					<input type="hidden" th:field="*{id}">
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Descrição</label> <input type="text" autofocus="autofocus"
								placeholder="Nome do cargo" class="form-control"
								th:field="*{nome}" />
						</div>
					</div>
					<input type="submit" value="Salvar" class="btn btn-success" /> <a
						class="btn btn-danger" th:href="@{/cargos}" role="button">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
<footer th:fragment="layout/Layout :: footer"></footer>
</body>
</html>