<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head">
    <meta charset="utf-8">
</head>
<body>
<header th:replace="layout/Layout :: header"></header>
    
    <div class="main" style="padding-top: 60px">     
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total de Equipamentos</h3>
                            </div>
                            <div class="panel-body">
                                <h3><span th:text="${totalEquipamentos}">001</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total de Colaboradores</h3>
                            </div>
                            <div class="panel-body">
                                <h3><span th:text="${totalColaboradores}"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Equipamentos em Manutenção</h3>
                            </div>
                            <div class="panel-body">
                                <h3><span th:text="|${equipamentosEmManutencao} %|"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Equipamentos Emprestados</h3>
                            </div>
                            <div class="panel-body">
                                <h3><span th:text="|${equipamentosEmprestados} %|"></span></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Manutenções por Setor</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Setor</th>
                                            <th class="hidden-xs">Quant.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="emp : ${emprestimosPorSetor}">
                                            <td th:text="${emp.setor.nome}">11</td>
                                            <td th:text="${emp.quantidade}">34</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
 
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ordens de Serviço por Categoria</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Categoria</th>
                                            <th class="hidden-xs">Quant.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="os : ${ordemServicoPorCategoria}">
                                            <td th:text="${os.categoria.nome}">Front-end</td>
                                            <td th:text="${os.quantidade}">33</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <footer th:replace="layout/Layout :: footer"></footer>

</body>
</html>