<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head">
<meta charset="UTF-8">

 
</head>
<body>
<header th:replace="layout/Layout :: header"></header>

	<div id="main" class="container-fluid" style="margin-top: 30px">
		<h3 class="page-header">Abertura de Ordem de Serviços</h3>
	</div>

	<div class="container-fluid" id="form-cabecalho">
		<div class="alert" th:if="${!#strings.isEmpty(mensagem)}" th:classappend="${erro ? 'alert-danger' : 'alert-success'}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}"></span>
		</div>
		<form th:object="${os}" th:action="@{/ordemServicos/abertura-os}" method="post">
			<input type="hidden" th:field="*{id}"/>
			<div class="row">
				<div class="col-xs-6">
					<label style="font-size: 25px;">Número da OS: </label>
					<label><span class="label label-success" style="font-size: 25px;" th:text="*{numeroOrdemServico}">00001</span></label>
				</div>
			</div>
			
			<div class="row" >
				<div class="form-group col-sm-12">
					<label>Observações</label>
					<textarea class="form-control col-sm-10" rows="3" th:field="*{observacao}"></textarea>
				</div>
			</div>
			
			<div class="row" >
				<div class="form-group col-sm-12">
					<label for="buscar_equipamentos" >Equipamentos</label>
					<input id="buscar_equipamentos" name="buscar_equipamentos" autocomplete="on" type="text" class="form-control"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>  Adicionar Itens</button>
					<a th:href="@{/}" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span>  Cancelar</a>
				</div>
			</div>
		</form>
	</div>

	<footer class="footer" style="margin-left: 10px">
		<hr>
		<p>&copy; 2019 CEE System - Controle de Entrega de Equipamentos</p>
	</footer>
	
</body>

</html>